#main {
  position: relative !important;
  max-height: 100dvh !important;
  overflow: hidden !important;
  background: #15212a !important;
}

.btn-menu-person {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  gap: 10px !important;
  background: #fdd700 !important;
  padding: 11px 30px !important;
  font-size: 15px !important;
  color: #000 !important;
  border-radius: 50px !important;
  transition: background-color 0.3s linear, color 0.3s linear !important;
}

.btn-menu-person:hover {
  background: #4c4a4a !important;
  color: #fff !important;
}

@media only screen and (min-width: 1000px) {
  #navbar {
    position: fixed !important;
  }
}

.row.itens {
  row-gap: 40px;
}

.border-top-style,
.border-top-style-primeiros {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 60%;
    height: 1px;
    top: -40px;
    left: 20%;
    background-color: #dee2e6;
  }
}

.border-top-style-primeiros {
  &::after {
    background: none;
  }
}

@media only screen and (max-width: 1000px) {
  .itens-segunda-section {
    margin-top: 60px;
    margin-bottom: 0px;
  }

  .border-top-style {
    position: relative;
    &::after {
      top: -30px;
    }
  }
}

[data-background="dark"] .box-container .menu-wrap,
[data-color="pink"] .menu-wrap.fixed {
  background: transparent !important;
}

.menu-wrap.fixed {
  box-shadow: none !important;
}

[data-background="origin"] .box-container .menu-wrap.fixed {
  background-color: #15212a !important;
}

[data-background="dark"] .box-container #clone tr.thead-clone th,
[data-background="dark"] .box-container .sec-bg3.infonews,
[data-background="dark"] .nav-menu .main-menu > .menu-item:hover,
[data-background="dark"] .popover {
  background: none !important;
}

.btnEstilo {
  display: inline-block !important;
  font-size: 10px !important;
  padding: 0 10px !important;
  position: relative !important;
  border-radius: 50px !important;
  background: #fdd700 !important;
  color: #000 !important;
  border: none !important;
  text-transform: capitalize !important;
  letter-spacing: 0.2px !important;
  font-weight: 700 !important;
  box-shadow: 0 2px 8px 0 rgb(62 62 79 / 23%) !important;
  transition: 0.3s linear !important;
}

.btn-contato {
  max-width: 189.81px !important;
  width: 100% !important;
}

.btn-shadow {
  box-shadow: 0 2px 8px 0 rgb(62 62 79 / 23%) !important;
}

.video-slide {
  min-width: 100% !important;
  min-height: 100% !important;
}

video {
  background-size: contain !important;
  min-width: 100% !important;
  min-height: 100dvh !important;
  object-fit: contain !important;
  overflow-clip-margin: content-box !important;
  overflow: clip !important;
}

#main form .border-geral,
a.bordar-geral {
  border-radius: 100px !important;
}

.cd-top.cd-is-visible {
  border-radius: 100px !important;
}

#main form .border-direita {
  border-radius: 0 100px 100px 0 !important;
}

#map-section {
  background: url("../img/topbanner17.webp") !important;
  background-position: top center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.service-section.rounded-0.p-0.m-0.entrychange.border-end.shadow-none.bg-colorstyle.noshadow {
  max-width: 596px !important;
  width: 100% !important;
}

@media only screen and (max-width: 991px) {
  .entrychange.border-end {
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
  }
}

.services .service-wrap .service-section {
  height: 93% !important;
}

#services {
  padding-bottom: 67.5px !important;
}

#faq {
  padding: 67.5px 0 0;
  background: transparent;
}

#ticket {
  height: auto !important;
  padding-top: 67.5px !important;
  background-color: #efefef !important;
}

.footer-itens {
  flex-wrap: wrap !important;
  justify-content: center !important;
}

@media only screen and (max-width: 1390px) {
  .footer-itens {
    flex-wrap: wrap !important;
    justify-content: center !important;
    gap: 30px;
  }

  .footer-itens div:nth-child(4) {
    order: -1;
  }
}

.informacoes-extras {
  color: #fff;
}

.informacoes-extras ul li {
  display: flex;
  gap: 15px;
  margin: 20px 0;
}

.informacoes-extras ul li i {
  font-size: 35px;
}

.informacoes-extras ul li div p {
  margin: 0;
  padding: 0;
}

.informacoes-extras ul li div span {
  font-size: 0.8rem;
  color: #aaa;
  float: left;
}

.container-whatsapp {
  position: fixed;
  background-color: #1a9948;
  bottom: 40px;
  right: 28.515px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  transition: transform 0.3s linear;
  cursor: pointer;

  a {
    color: #fff;
    text-decoration: none;
  }

  &:hover {
    transform: translateY(-5px);
  }
}
.container-whatsapp i {
  margin-left: 3px;
}

.subtitle {
  margin-top: 20px;
  margin-bottom: -30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-subtitle {
  font-size: 2rem;
  color: #212529;
}

.contact-button {
  margin-top: 30px;
  /* transition: background-color 0.2s linear !important; */
  transition-property: opacity, transform, background !important;
  a {
    color: #000;
    font-weight: bold;
    transition: color 0.2s linear;
  }
  &:hover {
    /* background-color: #ebc909 !important; */
    a {
      color: #f1f1f1;
    }
  }
}

/* PSI Style */
.psi-termo {
  margin-top: 100px;
  margin-bottom: 100px;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #0075f2;
  }
}

.psi-termo .retornar-pagina {
  position: relative;
  color: #212529;
  font-size: 1.5rem;
  display: flex;
  align-items: start;
  gap: 10px;
  cursor: pointer;
  transition: transform 0.2s linear;

  &:hover {
    transform: translateY(-3px);
  }
}

.psi-termo ol.list-sempontos li {
  list-style: none !important;
}

.psi-termo .retornar-pagina i {
  transform: rotate(-90deg);
}

.psi-termo p {
  text-align: justify;
}

.texto-centralizado p {
  text-align: center !important;
}

.texto-centralizado .list-sempontos {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.texto-centralizado ul.list-sempontos {
  list-style: decimal;
}

.texto-centralizado .list-sempontos.centralizado {
  align-items: center;
}

.psi-termo p > b {
  display: block;
  text-align: center !important;
  color: #6f6f6f;
  font-weight: 700;
}

.psi-termo p.subtitle {
  display: block;
  text-align: center !important;
  margin: 20px 0 !important;
  font-weight: 600;
  color: #6f6f6f;
}
.psi-termo ol li {
  font-weight: 600;
  color: #6f6f6f;
}

.psi-termo ol,
.psi-termo ul {
  list-style: decimal;
}

.psi-termo ul[type="disc"] {
  list-style: disc !important;
}

/* MENSAGEM DE SUCESSO */
.mensagem-feedback {
  visibility: hidden;
  position: fixed !important;
  height: 80px;
  padding: 30px;
  background-color: #fff;
  border: 1px solid #1f1f1f;
  border-bottom: none;
  overflow: hidden;
  bottom: 0;
  left: 10px;
  z-index: 99999;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 5px;
  }
}

#msgSuccess.mensagem-feedback::after {
  background-color: green;
}

#msgError.mensagem-feedback::after {
  background-color: red;
}

.visible {
  visibility: visible !important;
  &::after {
    animation: progressbar 2s forwards linear;
  }
}

@keyframes progressbar {
  to {
    width: 100%;
  }
}

video::-internal-media-controls {
  display: none;
}

video::-webkit-media-controls {
  display: none;
}
